numpy==1.22.0
pip -f https://download.pytorch.org/whl/torch_stable.html torch==1.4.0+cpu
jupyter==1.0.0
jupyter-contrib-nbextensions==0.5.1
matplotlib==3.2.1
scikit-learn==0.22.2
cvxopt==1.2.4
scipy==1.4.1